[run]
  deadline = "2m"
  skip-files = [
    "^unsecured/"
  ]

[linters-settings]

  [linters-settings.govet]
    check-shadowing = true

  [linters-settings.gocyclo]
    min-complexity = 16.0

  [linters-settings.maligned]
    suggest-new = true

  [linters-settings.goconst]
    min-len = 3.0
    min-occurrences = 3.0

  [linters-settings.misspell]
    locale = "US"

[linters]
  enable-all = true
  disable = [
    "maligned",
    "lll",
    "gas",
    "dupl",
    "prealloc",
    "scopelint",
    "godox",
    "gomnd",
    "wsl",
    "gocognit",
  ]

[issues]
  exclude-use-default = false
  max-per-linter = 0
  max-same-issues = 0
  exclude = ["ST1000: at least one file in a package should have a package comment"]
  [[issues.exclude-rules]]
    path = "(.+)_test.go"
    linters = ["funlen"]
  [[issues.exclude-rules]]
    path = "version.go"
    text = "`(version|date|commit)` is a global variable"
  [[issues.exclude-rules]]
    path = "mjolnir/close.go"
    text = "`(.+)RE` is a global variable"
  [[issues.exclude-rules]]
    path = "core/core.go"
    text = "Function 'process' has too many statements" # FIXME must be changed
